@font-face {
  font-family: 'Saira-SemiBold';
  src: asset-url('Saira-SemiBold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Saira-Medium';
  src: asset-url('Saira-Medium.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Saira-Regular';
  src: asset-url('Saira-Regular.ttf') format('truetype');
  font-weight: 500;
}
